name: core-crossplane-upgrade

on:
  schedule:
    - cron: '0 12 * * *'
  pull_request: {}
  workflow_dispatch: {}

env:
  GO_VERSION: '1.18'
  KIND_VERSION: 'v0.14.0'

jobs:
  crossplane-upgrade-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Crossplane Release 1.9
        uses: actions/checkout@v2
        with:
          repository: crossplane/crossplane
          ref: release-1.9
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Setup Kind
        uses: engineerd/setup-kind@v0.5.0
        with:
          version: ${{ env.KIND_VERSION }}
      - name: Install Helm
        uses: azure/setup-helm@v1
      - name: Create Namespace
        run: kubectl create namespace crossplane-system
        shell: bash
      - name: Install Crossplane from Stable
        run: helm repo add crossplane-stable https://charts.crossplane.io/stable && helm repo update && helm install crossplane --namespace crossplane-system crossplane-stable/crossplane --version 1.9.0 --wait
        shell: bash
      - name: Run E2E Tests for stable
        run: go test -p 1 -timeout 10m -v --tags=e2e ./test/e2e/...
      - name: Checkout Crossplane Master
        uses: actions/checkout@v2
        with:
          repository: crossplane/crossplane
          ref: master
      - name: Update Crossplane to latest build from master
        run: helm repo add crossplane-master https://charts.crossplane.io/master/ && helm repo update && helm upgrade crossplane --namespace crossplane-system crossplane-master/crossplane --devel --wait
        shell: bash
      - name: Run E2E Tests for master
        run: go test -p 1 -timeout 10m -v --tags=e2e ./test/e2e/...