name: provider-upgrade

on:
  schedule:
    - cron: '0 12 * * *'
  pull_request: {}
  workflow_dispatch: {}

env:
  GO_VERSION: '1.18'
  KIND_VERSION: 'v0.14.0'

jobs:
  provider-upgrade-crossplane-stable:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Test Repo
        uses: actions/checkout@v2
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Setup Kind
        uses: engineerd/setup-kind@v0.5.0
        with:
          version: ${{ env.KIND_VERSION }}
      - name: Install Helm
        uses: azure/setup-helm@v1
      - name: Install Kubectl
        uses: azure/setup-kubectl@v1
      - name: Create Namespace
        run: kubectl create namespace crossplane-system
        shell: bash
      - name: Install Crossplane from Stable
        run: helm repo add crossplane-stable https://charts.crossplane.io/stable && helm repo update && helm install crossplane --namespace crossplane-system crossplane-stable/crossplane --version 1.9.0 --wait
        shell: bash
      - name: Run Provider Upgrade Tests
        run: go test -timeout 10m -v --tags=e2e_provider ./test/...
